<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Picture</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quia dignissimos minima sequi eius illum recusandae dicta eveniet modi, facilis deleniti quibusdam alias natus ab ipsum vel. Fuga iste minima rem ipsa aliquid numquam sunt nemo repellendus autem, inventore doloribus fugit, debitis consectetur tenetur maxime atque. Neque expedita eligendi tempore officia dolore at odio ipsum aliquam culpa sit quibusdam inventore adipisci obcaecati, quidem illo maiores in nulla mollitia ipsa recusandae libero praesentium? Unde ad ut asperiores maxime, molestias fugiat iure officia labore accusamus commodi voluptas expedita dolore aperiam odit ducimus, impedit eveniet totam sequi eius. Iure similique ducimus sunt quis!</p>
</body>
</html>