<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vedio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui consequatur neque quas obcaecati amet placeat, sit corrupti sunt beatae hic non. Ipsa modi illo tempora nemo dolorum voluptates, eius maxime fugiat animi. Exercitationem, pariatur sequi ratione minima culpa repellat sed, at perspiciatis blanditiis hic totam! Perferendis, eaque? Rerum, maiores a!</p>
</body>
</html>