<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>

<body>

    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officia. <br> Ullam facilis sit molestiae
        doloremque quia, praesentium ad, maiores non deserunt hic sunt esse enim voluptatem eaque atque ratione deleniti
        a, vel expedita. Totam quia quae natus perspiciatis soluta quidem illum pariatur fuga porro quis et, temporibus
        recusandae, esse voluptatem ullam neque, consequuntur eum corporis. <br> Placeat eius consectetur voluptate
        praesentium nesciunt minus, voluptatibus ea quis quas! Porro recusandae nobis corrupti sed delectus aliquid cum
        voluptatem maiores. <br> Repudiandae, tempore optio eveniet dolor repellat quis cum totam quam maxime dolorem
        illum
        repellendus molestiae dolores voluptates labore, in ad rem! Iusto, hic voluptate?</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Cupiditate rerum eos corporis explicabo quisquam
        itaque, maxime architecto quia aliquam placeat qui, autem pariatur sed in libero quae accusantium reiciendis
        beatae repellat aperiam nemo perferendis sapiente iusto? Omnis aliquam, voluptatibus amet earum vitae magni
        tenetur corrupti vero necessitatibus dignissimos obcaecati debitis commodi quisquam aspernatur laboriosam quis
        ipsa ad sapiente? <br> Minus molestiae error eaque, nisi ex, perspiciatis natus non cum libero quo
        necessitatibus
        saepe eum doloribus sequi quasi quos reiciendis. Voluptatem voluptatibus at debitis iste aspernatur voluptatum
        esse placeat in. Deserunt fugit iusto iste, nobis ducimus commodi. Numquam nobis accusamus qui ipsa eum cum,
        quibusdam quae mollitia quos repellat tempora officiis animi maiores consequatur laboriosam dolorem sit nostrum
        molestias sequi ullam voluptas! <br> Earum, vel doloribus. Eligendi aliquid repudiandae dicta. Suscipit
        quibusdam
        ipsa rerum dolores corporis sunt perferendis fugit velit autem animi excepturi, quia dolorum adipisci pariatur
        accusamus, eum odio ex nam repellat?</p>


    <h3 style="color: red;">Social Media</h3>
    <ul>
        <li>
            <a href="https://kun.uz/">KunUz</a>
        </li>
        <li>
            <a href="https://youtube.com/">You Tube</a>
        </li>
        <li>
            <a href="https://github.com/">Git Hub</a>
        </li>
    </ul>

    <!-- <ol>
        <li>
            apple
        </li>
        <li>
            banana
        </li>
        <li>
            apricot
        </li>
    </ol> -->

    <img src="https://picsum.photos/200/300?random=1">
    <img src="https://picsum.photos/200/300?random=2">

</body>

</html>