<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>

<body>

    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, officia. <br> Ullam facilis sit molestiae
        doloremque quia, praesentium ad, maiores non deserunt hic sunt esse enim voluptatem eaque atque ratione deleniti
        a, vel expedita. Totam quia quae natus perspiciatis soluta quidem illum pariatur fuga porro quis et, temporibus
        recusandae, esse voluptatem ullam neque, consequuntur eum corporis. <br> Placeat eius consectetur voluptate
        praesentium nesciunt minus, voluptatibus ea quis quas! Porro recusandae nobis corrupti sed delectus aliquid cum
        voluptatem maiores. <br> Repudiandae, tempore optio eveniet dolor repellat quis cum totam quam maxime dolorem
        illum
        repellendus molestiae dolores voluptates labore, in ad rem! Iusto, hic voluptate?</p>

    <h3 style="color: red;">Social Media</h3>
    <ul>
        <li>
            <a href="https://kun.uz/">KunUz</a>
        </li>
        <li>
            <a href="https://youtube.com/">You Tube</a>
        </li>
        <li>
            <a href="https://github.com/">Git Hub</a>
        </li>
    </ul>

    <!-- <ol>
        <li>
            apple
        </li>
        <li>
            banana
        </li>
        <li>
            apricot
        </li>
    </ol> -->

    <img src="https://picsum.photos/200/300?random=1">
    <img src="https://picsum.photos/200/300?random=2">

    <form action="">
        <input type="text" placeholder="text">
        <input type="time">
        <input type="datetime-local">
        <input type="password" placeholder="password">
        <input type="email" placeholder="email">

        <input type="submit">
    </form>

</body>

</html>